@* Components/Pages/Clients/ClientGetAll.razor *@
@page "/clients"
@rendermode InteractiveServer
@inject ClientService ClientService
@inject NavigationManager Nav

<h2>Clients</h2>
<button @onclick='() => Nav.NavigateTo("/Clients/create")'>+ Add New</button>

@if (items == null)
{
    <p>Loading...</p>
}
else if (!items.Any())
{
    <p>No clients found.</p>
}
else
{
    <p/>
    <table>
        <thead>
            <tr>
                <th style="border: 1px solid black; padding: 2px;">Id</th>
                <th style="border: 1px solid black; padding: 2px;">Name</th>
                <th style="border: 1px solid black; padding: 2px;">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in items)
            {
                <tr>
                    <td style="border: 1px solid black; padding: 2px;">@item.Id</td>
                    <td style="border: 1px solid black; padding: 2px;">@item.Name</td>
                    <td>
                        <button @onclick='() => Nav.NavigateTo($"/clients/read/{item.Id}")'>View</button>
                        <button @onclick='() => Nav.NavigateTo($"/clients/update/{item.Id}")'>Update</button>
                        <button @onclick='() => Nav.NavigateTo($"/clients/delete/{item.Id}")'>Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Client>? items;

    protected override async Task OnInitializedAsync() =>
        items = await ClientService.GetAllAsync();
}
