@* Components/Pages/Suppliers/SupplierRead.razor *@
@page "/suppliers/read/{id:int}"
@rendermode InteractiveServer
@inject SupplierService SupplierService
@inject NavigationManager Nav

<h2>Supplier Details</h2>

@if (supplier == null)
{
    <p>Loading...</p>
}
else
{
    <table>
        <tbody>
            <tr>
                <td style="border: 1px solid black; padding: 8px;"><label>Id</label></td>
                <td style="border: 1px solid black; padding: 8px;">@supplier.Id</td>
            </tr>
            <tr>
                <td style="border: 1px solid black; padding: 8px;"><label>Name</label></td>
                <td style="border: 1px solid black; padding: 8px;">@supplier.Name</td>
            </tr>
        </tbody>
    </table>
    <br />

    <button @onclick='() => Nav.NavigateTo($"/suppliers/update/{supplier.Id}")'>Update</button>
    <button @onclick='() => Nav.NavigateTo($"/suppliers/delete/{supplier.Id}")'>Delete</button>
    <button @onclick='() => Nav.NavigateTo("/suppliers")'>Back to List</button>
}

@code {
    [Parameter] public int Id { get; set; }

    private Supplier? supplier;

    protected override async Task OnInitializedAsync() =>
        supplier = await SupplierService.GetByIdAsync(Id);
}